#logo h1 {
  padding-top: 10px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  text-decoration: underline;
}

header {
  background-image: url(../images/brewImages/cheers.jpg);
}

/* group div */
#group {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

#group img {
  margin: 15px;
  border: 5px solid black;
}

#group p {
  font-size: 16px;
  font-style: italic;
}

/* mastermind class */
.masterminds {
  width: 85%;
  margin: 50px auto;
}

.masterminds .name {
  border: 2px solid black;
  float: left;
  margin-right: 10px;
}

.masterminds .name2 {
  border: 2px solid black;
  float: right;
  /* margin-bottom: 10px; */
}

/* bio class */
.bio {
  /* float: right; */
  text-align: left;
  width: 100%;
  height: 300px;
  /* border: 1px solid black; */
}

.bio h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  height: 30px;
  width: 400px;
  /* float: left; */
  margin-right: 0px;
}

.bio h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  /* float: left; */
  width: 100%;
}

.bio p{
  font-size: 16px;
  margin-top: 10px;
  /* float: left; */
}

/* contact class */
.contact {
  width: 300px;
  height: 30px;
  float: right;
  margin-top: 5px;
}

.contact h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  display: inline-block;
}