header, section, footer, aside, nav, article, figure, figcaption {
  display: block;}

body {
  background-color: #80736A;
  background-image: url("../images/brewImages/summerdrink.jpg");
  background-size: cover;
  background-position: center;
  font-family: Georgia, Times, serif;
  line-height: 1.4em;
  margin: 0px;
}

header {
  height: 160px;
  background-image: url(../images/brewImages/cheers.jpg);
  background-size: 950px;
  background-position: right top;
}

#logo h1 {
  width: 940px;
  height: 130px;
  text-align: center;
  color: rgb(170, 166, 166);
  font-size: 36px;
}

nav, footer {
  clear: both;
  color: #ffffff;
  background-color: #80736A;
  height: 30px;
  text-align: center;
}

#main_nav ul {
  float: left;
  -webkit-transition: .5s;
  transition: .5s;
}

#main_nav li {
  float: left;
  position: relative;
  width: 225px;
  list-style: none;
  -webkit-transition: .5s;
  transition: .5s;
}

#main_nav > ul > li > a, h1 {
  text-transform: uppercase;
}

#main_nav a {
  display: block;
  text-decoration: none;
  padding: 5px 15px;
  color: #000;
}

#main_nav ul ul {
  position: absolute;
  left: 0;
  top: 100%;
  visibility: hidden;
  opacity: 0;
}

#main_nav ul ul ul {
  left: 100%;
  top: 0;
}

#main_nav li:hover, #main_nav li:hover li {
  background: #ddd;
}

#main_nav li li:hover, #main_nav li li:hover li {
  background: #bbb;
}

#main_nav li li li:hover {
  background: #999;
}

#main_nav li:hover > ul {
  visibility: visible;
  opacity: 1;
}

#breweryInfo {
  height: 250px;
  margin: 10px;
}

#wrapper {
  width: 940px;
  margin: 20px auto 20px auto;
  border: 2px solid #000000;
  background-color: #ffffff;
}

section div h2 {
  font-size: 20px;
  font-weight: bold;
}

section div a {
  float: left;
  margin-right: 10px;
}

section #breweryInfo img {
  float: left;
  margin-right: 10px;
  height: 200px;
}

section div p {
  margin: 10px;
}

#map {
  margin: 10px 25px;
  float: left;
}

#address {
  margin: 20px 30px 10px 10px;
  line-height: 25px;
}

#social {
  width: 100%;
  background-color: #80736A;
  height: 30px;
  text-align: center;
  margin-bottom: 10px;
}

#social ul li a {
  text-decoration: none;
  font-size: 100%;
  color: black;
  margin: 1px 4%;
  padding: 5px;
}

#social ul li img {
  height: 15px;
  width: 15px;
}

#social a:hover {
  color: #efefef;
}