header, section, footer, aside, nav, article, figure, figcaption {
    display: block;}
body {
    background-color: #80736A;
    background-image: url("../images/brewImages/summerdrink.jpg");
    background-size: cover;
    background-position: center;
    font-family: Georgia, Times, serif;
    line-height: 1.4em;
    margin: 0px;}
.wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: #ffffff;}
/* Photo banner*/
/* .container {
    width: 100%;
    overflow: hidden;
    margin: 10px;
    background: white;
}
.photobanner {
    height: 230px;
    width: auto;
    margin-bottom: 5px;
}
.photbanner img {
    margin-bottom: 10px;
    padding-right: 1px;
    height: 230px;
    width: auto;
}
.photobanner img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.photbanner img:hover {
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 5px);
    -moz-box-shadow: 0px 3px 5px);
    box-shadow: 0px 3px 5px);
}
.first {
    -webkit-animation: bannermove 30s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
    -ms-animation: bannermove 30s linear infinite;
    -o-animation: bannermove 30s linear infinite;
    animation: bannermove 30s linear infinite;
}
@keyframes "bannermove" {
    0% {margin-left: 0px;}
    100% {margin-left: -200%;}
} */

/* Photo banner code ends*/

.marquee {
    width: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
}
/* Photo banner code ends*/
header {
    height: 160px;
    background-image: url(../images/brewImages/cheers.jpg);
    background-size: 950px;
    background-position: right top;
}
h1 {
    text-indent: 20px;
    width: 940px;
    height: 130px;
    margin: 0px;
    text-align: center;
    color: rgb(170, 166, 166);
}
nav, footer {
    clear: both;
    color: #ffffff;
    background-color: #80736A;
    height: 30px;}
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;}
nav li {
    display: inline;
    margin-right: 40px;}
nav li a {
    color: #ffffff;}
nav li a:hover, nav li a.current {
    color: #000000;}
section.courses {
    float: left;
    width: 659px;
    border-right: 1px solid #eeeeee;}
article {
    clear: both;
    overflow: auto;
    width: 100%;}
hgroup {
    margin-top: 40px;}
figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eeeeee;}
figcaption {
    font-size: 90%;
    text-align: left;}
aside {
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;}
aside section a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;}
aside section a:hover {
    color: rgb(177, 16, 4);
    background-color: #efefef;}
a {
    color: rgb(177, 16, 4);
    text-decoration: none;}
h1, h2, h3 {
    font-weight: normal;}
h2 {
    margin: 10px 0px 5px 0px;
    padding: 0px;}
h3 {
    margin: 0px 0px 10px 0px;
    color: rgb(177, 16, 4);
}

aside h2 {
    padding: 30px 0px 10px 0px;
    color: rgb(177, 16, 4);}
footer {
    font-size: 80%;
    padding: 7px 0px 0px 20px;}