header, section, footer, aside, nav, article, figure, figcaption {
    display: block;}
body {
    background-color: #80736A;
    background-image: url("../images/brewImages/summerdrink.jpg");
    background-size: cover;
    background-position: center;
    font-family: Georgia, Times, serif;
    line-height: 1.4em;
    margin: 0px;}
.wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: #ffffff;}
header {
    height: 160px;
    background-image: url(../images/brewImages/cheers.jpg);
    background-size: 950px;
    background-position: right top;
}
h1 {
    text-indent: 20px;
    width: 940px;
    height: 130px;
    margin: 0px;
    text-align: center;
    color: #F3B802;
}
nav, footer {
    clear: both;
    color: #ffffff;
    background-color: #80736A;
    height: 30px;
}

/* TOP NAV */
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}

nav li {
    margin-right: 40px;
    float: left;
    position: relative;
    width: 150px;
    list-style: none;
    -webkit-transition: .5s;
    transition: .5s;
}

#main_nav > ul > li > a, h1 {
    text-transform: uppercase;
  }

nav li a {
    color: #000000;
}

nav li a:hover, nav li a.current {
    color: #F3B802;
}
#main_nav ul ul {
    position: absolute;
    left: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
}

#main_nav ul ul ul {
    left: 80%;
    top: -5px;
}
nav li li {
    padding: 8px;
    margin-top: -2px;
}

nav li li li {
    padding: 8px;
    margin-top: 0px;
}

#main_nav li:hover > ul {
    visibility: visible;
    opacity: 1;
}

#main_nav li:hover, #main_nav li:hover li {
    background: #80736A;
}

#main_nav li li:hover, #main_nav li li:hover li {
background: #80736A;
}

#main_nav li li li:hover {
background: #80736A;
}


/* END OF NAV */

section.courses {
    float: left;
    width: 659px;
    border-right: 1px solid #eeeeee;
}

article {
    clear: both;
    overflow: auto;
    width: 100%;
}

hgroup {
    margin-top: 40px;
}

figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eeeeee;
}

figcaption {
    font-size: 90%;
    text-align: left;}
aside {
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;}
aside section a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;}
aside section a:hover {
    color: rgb(177, 16, 4);
    background-color: #efefef;}
a {
    color: rgb(177, 16, 4);
    text-decoration: none;}
h1, h2, h3 {
    font-weight: normal;}
h2 {
    margin: 10px 0px 5px 0px;
    padding: 0px;}
h3 {
    margin: 0px 0px 10px 0px;
    color: rgb(177, 16, 4);
    padding-top: 10px;
}

aside h2 {
    padding: 30px 0px 10px 0px;
    color: rgb(177, 16, 4);}
footer {
    font-size: 80%;
    padding: 7px 0px 0px 20px;}