
body {
  width: 100%;
  margin: auto;
}

#logo {
  width: 100%;
  height: 100px;
  padding: 10px;
  background-color: grey;
  text-align: center;
}

#logo h1 {
  font-size: 45px;
  font-weight: bolder;
  margin-top: 30px;
  margin-left: 30px;
  color:goldenrod;
}

nav {
  width: 100%;
  background-color: black;
  height: 20px;
  text-align: center;
}

nav a {
  text-decoration: none;
  font-size: 15px;
  color: lightgray;
  margin-right: 15%;
}

.checkbox {
  width: 80%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 30px;
}

.checkbox h3 {
  font-size: 24px;
}

#type-place {
  width: 80%;
  margin: auto;
}

#type-place h3 {
  font-size: 24px;
}

footer {
  position: bottom;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

section h2 {
  text-align: center;  
  color: goldenrod;
  font-size: 350%;
  margin-top: 50px;
  margin-bottom: 50px; 
}
section p {
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
}

#map {
  margin-top: 100px;
  text-align: center;
}

#popup {
  display: block;
  position: fixed;
  margin-left: 500px;
  width: 400px;
  height: 400px;
  background: #FFF;
  z-index: 100;
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}