body {
  width: 100%;
  margin: auto;
}

#logo {
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: grey;
  text-align: left;
}

#logo h1 {
  font-size: 45px;
  font-weight: bolder;
  margin-left: 30px;
  color: white;
}

nav {
  width: 100%;
  background-color: black;
  height: 20px;
  text-align: center;
}

nav a {
  text-decoration: none;
  font-size: 15px;
  color: lightgray;
  margin-right: 15%;
}

#breweryInfo {
  height: 200px;
  margin: 10px;
}

section div h2 {
  font-size: 20px;
  font-weight: bold;
}

section div a {
  float: left;
  margin-right: 10px;
}

section div p {
  margin: 10px;
}

#map {
  margin: 10px 25px;
  float: left;
}

#address {
  /* float: right; */
  margin: 20px 30px 10px 10px;
  /* width: 500px; */
  line-height: 25px;
}

#social {
  width: 100%;
  background-color: black;
  height: 30px;
  text-align: center;
  margin-bottom: 10px;
}

#social ul li a {
  text-decoration: none;
  font-size: 125%;
  color: lightgray;
  margin: 1px 5%;
}

#social ul li img {
  height: 15px;
  width: 15px;
}

.checkbox {
  width: 80%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 30px;
}

.checkbox h3 {
  font-size: 24px;
}

#type-place {
  width: 80%;
  margin: auto;
}

#type-place h3 {
  font-size: 24px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}